html,
body {
    height: 100%;
    font-family: "Pixelify Sans";
    letter-spacing: 0.5rem;
    background-color: mediumslateblue;
    color: darkorange;
}

button {
    font-family: inherit;
}



@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
}

.choice {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.choice:hover {
    animation: bounce 0.75s;
}